article.section5 
  margin: 30px 0
  overflow: hidden
  h3 
    border-top: 1px solid rgba(0,0,0,0.2)
    margin: 0px 20px 20px
    padding-top: 30px
    font-size: 2.8rem
    font-weight: normal
    text-align: center
  div.squares
    display: flex
    justify-content: space-between
    width: 200px
    height: 20px
    margin: 30px auto 0
    div.square
      height: 20px
      width: 20px
      background-color: $bgcolor
      border-radius: 20%
      &.active
        background-color: $green
  div.client
    position: relative
    width: 700vw
    top: 0
    left: 0
    height: 60vh
    div.tak
      position: absolute
      width: 100%
      top: 0
      left: 0
      height: 100%
      overflow: auto
      div.co
        position: absolute
        top: 0
        left: 0
        width: 100vw
        height: 60vh
        flex-shrink: 0
        overflow-y: auto
        padding: 0 10px
        transition: 0.3s
        &.bodo
          p
            padding: 5px 0
          ul 
            padding-left: 20px
            li 
              font-size: 12px
              text-align: left
        &::-webkit-scrollbar
          display: none
        &:nth-of-type(1)
          transform: translateX(0%)
        &:nth-of-type(2)
          transform: translateX(100%)
        &:nth-of-type(3)
          transform: translateX(200%)
        &:nth-of-type(4)
          transform: translateX(300%)
        &:nth-of-type(5)
          transform: translateX(400%)
        &:nth-of-type(6)
          transform: translateX(500%)
        div.art
          background-color: $gray
          margin: 0 20px
          padding: 20px 10px
          img 
            width: 120px
            padding-bottom: 20px
          div.text
            font-size: 2rem
            text-align:  center
            font-style: italic
            user-select: none
          div.author-infobox
            text-align: center
            color: #343434
            font-size: 1rem
            padding-top: 20px

@media(min-width: 1023px)

  article.section5 
    width: 100%
    margin: 30px 0
    padding: 0 50px
    border-top: 0px solid rgba(0,0,0,0.2)
    overflow: hidden
    h3 
      border-top: 1px solid rgba(0,0,0,0.2)
      margin: 20px 0
      padding-top: 30px
      font-size: 3.8rem
      font-weight: normal
      text-align: left
    div.squares
      display: flex
      justify-content: space-between
      width: 200px
      height: 20px
      margin: 30px auto 0
      div.square
        height: 20px
        width: 20px
        background-color: $bgcolor
        border-radius: 20%
        &.active
          background-color: $green
    div.client
      // display: flex
      position: relative
      width: 100%
      top: 0
      left: 0
      height: 60vh
      overflow: auto
      div.tak
        position: absolute
        width: 100%
        top: 0
        left: 0
        height: 100%
        overflow: hidden
        div.co
          position: absolute
          top: 0
          left: 0
          width: calc(50vw - 50px)
          height: 60vh
          flex-shrink: 0
          overflow: auto
          padding: 0px 0px
          transition: 0.3s
          &:nth-child(3)
          div.art
            margin-left: 0 
            div.text
              text-align: left
          &.bodo
            p
              padding: 5px 0
            ul 
              padding-left: 20px
              li 
                font-size: 16px
                text-align: left